* text=auto
*.cs  linguist-language=csharp
*.sln linguist-language=csharp
*.csproj linguist-language=csharp
*.cs       text diff=csharp
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=crlf
*.csproj   text eol=crlf
